
<div class="container">
  <div class="row">
    <div class="col"><%= @letters[0] %></div>
    <div class="col"><%= @letters[1] %></div>
    <div class="col"><%= @letters[2] %></div>
    <div class="col"><%= @letters[3] %></div>
    <div class="col"><%= @letters[4] %></div>
    <div class="col"><%= @letters[5] %></div>
    <div class="col"><%= @letters[6] %></div>
    <div class="col"><%= @letters[7] %></div>
    <div class="col"><%= @letters[8] %></div>
    <div class="col"><%= @letters[9] %></div>
  </div>

<form action="/score" data-turbo="false">
  <label for="response">What is the longest word you can find?</label>
  <input type="text" name="word" value="<%= params[:word]%>">
  <input type="submit" value="Submit!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
